<html>
<head>
	<link rel="stylesheet" href="application.css" type="text/css" />
</head>

<body>
	<div class="submitted">
		<h1>Your form as been submitted!</h1>

		<h3>#<%= @first_hash %> vs. #<%= @second_hash %></h3>
	</div>
</body>
</html>